.wrapper {
    width: 1440px;
    height: 1080px;
	display: grid;
	grid-template-areas: 'log right';
	grid-template-columns: 716px 724px;
	.wrapper_login {
		grid-area: log;
	}
	.wrapper_right {
		grid-area: right;
	}
}

@media only screen and (max-width: 375px) {
    .wrapper {
        display: flex;
        width: 375px;
        height: 717px;
    }
	.wrapper_login {
        width: 375px;
        height: 717px;
	}
    .wrapper_right {
        display: none;
    }
}
