.wrapper {
    display: grid;
    grid-template-areas: 
    'log right';
    grid-template-columns: 716px 724px;
    .login {
        grid-area: log;
    }
    .right {
        grid-area: right;
    }
}