.chat-app-message-form {
    position: absolute;
    width: 1078px;
    height: 80px;
    left: 362px;
    top: 1000px;
}
.chat_app_chat__loading {
    position: absolute;
    left: 873px;
    top: 512px;
}
.chat_app_chat_select {
    position: absolute;
    left: 732px;
    top: 512px;
}