@import '../../../assets/styles/index.scss';

form {
	margin-left: 121px;
	.input_field {
		@include size(354px, 56px);
		@include font(15px, 400, 23px);
		color: $main-text;
		border: 1px solid $border-blue;
		border-radius: 8px;
		outline: none;
		padding-left: 16px;

		&::placeholder {
			@include font(15px, 400, 23px);
			color: $placeholder;
		}

		&:focus {
			border: 1px solid $main-blue;
		}
	}
	.error {
		background: url('../../../assets/images/error.svg') right 16px center
			no-repeat;
		border: 1px solid $error;
		&:focus {
			border: 1px solid $error;
		}
	}
	.error_message {
		@include font(13px, 500, 19px);
		color: $error;
		margin-left: 8px;
		margin-top: 4px;
		width: 156px;
		height: 19px;
	}

	.form_buttons {
		margin-top: 25px;
	}
	.input-margin {
		margin-top: -25px;
	}
}

@media only screen and (max-width: 375px) {
	form {
		margin-left: 14px;
		// margin-top: 71px;

		.input_field {
			width: 348px;
			height: 48px;
		}
	}
}
