@import '../../../assets/styles/index.scss';

.login_form {
	margin-top: 48px;
	margin-left: 121px;
	.error {
		background: url('../../../assets/images/error.svg') right 16px center
			no-repeat;
		border: 1px solid $error;
		&:focus {
			border: 1px solid $error;
		}
	}
	
	.form_buttons {
		margin-top: 16px;
	}
}

.reg_form_captcha__img {
	margin-left: 12px;
	margin-top: 22px;
}

@media only screen and (max-width: 375px) {
	
}
