@import '../../../assets/styles/index.scss';

.button {
	@include size(171px, 56px);
	@include font(15px, 500, 23px);
	color: $main-white;
	border: none;
	border-radius: 8px;
	background-color: $main-blue;
	cursor: pointer;
	&:hover {
		background-color: $hover-blue;
	}
	&:active {
		background-color: $press-blue;
	}
	&:disabled {
		background-color: $inactive;
	}
}

@media only screen and (max-width: 375px) {
	.button {
		width: 347px;
		margin-top: 29px;
	}
}
