@import '../../../assets/styles/index.scss';

.wellcome {
	width: 474px;
	height: 180px;
	margin-left: 121px;
	margin-top: 256px;
	.wellcome_logo {
		margin-bottom: 16.12px;
	}
	.wellcome_header {
		margin-bottom: 24px;
	}
}
