@import '../../../assets/styles/index.scss';

.logo {
	position: absolute;
	left: 121px;
	top: 256px;
}

h1 {
	font-weight: 800;
	font-size: 42px;
	line-height: 51px;
	position: absolute;
	width: 474px;
	height: 51px;
	left: 121px;
	top: 315px;
	color: #333333;
}

h2 {
	position: absolute;
	width: 474px;
	height: 33px;
	left: 121px;
	top: 390px;
	font-weight: bold;
	font-size: 27px;
	line-height: 33px;
    color: #333333;
}
