@import '../../../assets/styles/index.scss';

.logo {
	position: absolute;
	left: 121px;
	top: 256px;
}

h1 {
	position: absolute;
	left: 121px;
	top: 315px;
}

h2 {
	position: absolute;
	left: 121px;
	top: 390px;
}
