@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

// colors

$backgound: #e5e5e5;
$backgound-chat: #eff5ff;
$main-white: #FFFFFF;
$main-text: #333333;
$chat-text: #303030;
$main-blue: #5c98f1;
$hover-blue: #4583DE;
$press-blue: #2C6AC7;
$border-blue: #B3CDF8;
$inactive: #D1D1D1;
$error: #FB6262;
$placeholder: #9F9F9F;

// mixins

@mixin font($size, $weight, $line) {
	font-size: $size;
	font-weight: $weight;
	line-height: $line;
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}
