@import '../../../assets/styles/index.scss';

header {
    @include size(1440px, 80px);
    border-bottom: 1px solid $line;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.logo {
		cursor: pointer;
		margin-left: 24px;
	}
	.auth {
		margin-right: 24px;
		cursor: pointer;
	}
}


