@import '../../../assets/styles/index.scss';

.input_field {
    @include size(354px, 56px);
    @include font(15px, 400, 23px);
    color: $main-text;
    border: 1px solid $border-blue;
    border-radius: 8px;
    outline: none;
    padding-left: 16px;
    margin-bottom: 28px;

    &::placeholder {
        @include font(15px, 400, 23px);
        color: $placeholder;
    }

    &:focus {
        border: 1px solid $main-blue;
    }
}